.timerBtn{
    width:80px;
    height:30px;
    border:3px solid;
    border-radius: 12px;
    background-color:antiquewhite;
    color:rgb(26, 15, 15);
    cursor:pointer;
    font-family: consolas,monospace;
}
#timeDisplay{
    font-size: 75px;
    color:blue;
    font-family: consolas;
}
#timeContainer{
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: rgb(85, 40, 40);
}